<footer>
    Argos Mobile is maintained by <a href="https://github.com/Sage">Sage</a><br>
</footer>
</div>
</div>

<!-- Scripts -->
<script src="{{ site.url }}/javascripts/shCore.js"></script>
<script src="{{ site.url }}/javascripts/shBrushJScript.js"></script>
<script src="{{ site.url }}/javascripts/shBrushCss.js"></script>
<script src="{{ site.url }}/javascripts/shBrushXml.js"></script>
<script src="{{ site.url }}/javascripts/shBrushCSharp.js"></script>
<script src="{{ site.url }}/javascripts/shBrushRuby.js"></script>

<script>
    SyntaxHighlighter.all();
</script>
</body>
</html>