<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/stylesheets/stylesheet.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/stylesheets/shCore.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/stylesheets/shThemeDefault.css"/>

    <link rel="stylesheet" type="text/css" href="{{ site.url }}/stylesheets/print.css" media="print"/>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Argos Mobile by Sage</title>
</head>

<body>
<div id="container">
    <div class="inner">
