<header class="clearfix">
    <div class="grid-2">
        <h1><a href="index.html" style="color:#000;">Argos Template Guide</a></h1>

        <h2>Kickstart your app</h2>
    </div>
    <div class="grid-2">
        <section class="downloads clearfix">
            <a href="https://github.com/Sage/argos-template/zipball/master" class="download-zip button"><span>Download .zip</span></a>
            <a href="https://github.com/Sage/argos-template" class="view-on-github button"><span>View on GitHub</span></a>
        </section>
    </div>
</header>